@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

@media screen {
    body {
        text-align: center;
        background-color: rgb(23, 20, 29);
        color: white;
        font-family: "DM Mono", monospace;
        margin: 0;
    }

    .text {
        padding: 0;
        margin: 0;
    }

    #head {
        display: flex;
        justify-content: center;
    }

    #gameboard {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .active-cell:hover {
        opacity: .5;
        cursor: pointer;
    }

    #settings > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #close {
        margin: 2vw 0 0 0;
    }

    .modal-bg {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(23, 20, 29, .4);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s opacity 0.5s; 
    }

    .modal-bg-active {
        visibility: visible;
        opacity: 1;
    }

    .modal {
        background-color: rgb(23, 20, 29);
        width: 50%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex;
    }

    .button {
        font-family: "DM Mono", monospace;
    }
}

@media screen and (max-width: 959px) {
    h1 {
        padding: 2vw 0;
        font-size: clamp(0.5vw, -0.875vw + 8.333vw, 3.5vw);
    }

    .text {
        font-size: clamp(0.25vw, -0.875vw + 8.333vw, 2.5vw);
    }

    #head > div {
        padding: 0 3vw;
    }

    #gameboard {
        padding: 1vw;
    }

    .cell, .cell-img {
        height: 2vw;
        width: 2vw;
    }

    #settings > div {
        margin: .5vw;
    }

    #settings > div > div, #settings > div > label {
        padding: .25vw 2vw;
    }

    #close {
        margin: 2vw 0 0 0;
    }

    .buttons {
        padding: 1vw;
    }

    .button {
        font-size: 2vw;
    }
}

@media screen and (min-width: 960px) {
    h1 {
        padding: 19.2px 0;
        font-size: clamp(4.8px, -8.4px + 79.9968px, 33.6px);
    }

    .text {
        font-size: clamp(2.4px, 8.4 + 79.9968px, 24px);
    }

    #head > div {
        padding: 0 28.8px;
    }

    #gameboard {
        padding: 9.8px;
    }

    .cell, .cell-img {
        height: 19.2px;
        width: 19.2px;
    }

    #settings > div {
        margin: 4.8px;
    }

    #settings > div > div, #settings > div > label {
        padding: 2.4px 19.2px;
    }

    #close {
        margin: 19.2px 0 0 0;
    }

    .buttons {
        padding: 9.6px;
    }

    .button {
        font-size: 19.2px;
    }
}