@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

/* new stuff */
#head {
    display: flex;
    justify-content: center;
}

#head > div {
    padding: 0 3vw;
}

#gameboard {
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cell, .cell-img {
    height: 3vw;
    width: 3vw;
}

.active-cell:hover {
    opacity: .5;
    cursor: pointer;
}

img:active {
    opacity: 1;
}

#settings > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#settings > div > div, #settings > div > label {
    padding: .25vw 2vw;
}

.modal-bg {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 20, 29, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0.5s; 
}

.modal-bg-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    background-color: rgb(23, 20, 29);
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex;
}

@media screen {
    body {
        text-align: center;
        background-color: rgb(23, 20, 29);
        color: white;
        font-family: "DM Mono", monospace;
        margin: 0;
    }
/*
    p {
        margin: 0;
        opacity: 0;
    }
    
    #board {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .box {
        display: table-cell;
    }
    
    .button {
        display: block;
        color: white;
        border-color: white;
        background-color: #17141d;
    }
    
    .box:hover, .button:hover {
        background-color: greenyellow;
    }
}

@media screen and (max-width: 959px) {
    h1 {
        padding: 2vw 0;
        font-size: clamp(0.5vw, -0.875vw + 8.333vw, 3.5vw);
    }
    
    .box {
        padding: .95vw 5.15vw;
        font-size: 12vw;
    }
    
    .box, .button {
        box-shadow: -1vw 1vw 5vw 1vw black;
        background-color: #17141d;
        
    }

    .button {
        font-size: clamp(0.35vw, -0.5vw + 8.333vw, 2vw);
        margin: 2vw auto;
        padding: 1vw;
    }
}

@media screen and (min-width: 960px) {
    h1 {
        padding: 19.2px 0;
        font-size: clamp(4.8px, -8.4px + 79.9968px, 33.6px);
    }
    
    .box {
        padding: 9.12px 49.44px;
        font-size: 115.2px;
    }
    
    .box, .button {
        box-shadow: -9.6px 9.6px 48px 9.6px black;
        background-color: #17141d;
    }

    .button {
        font-size: clamp(3.36px, -4.8px + 9.9968px, 19.2px);
        margin: 19.2px auto;
        padding: 9.6px;
    }
} */
